/*barra de navegacao*/
.barra_de_navegacao_superior{
    width: 100%;
    border-bottom: 5px solid #09CCCC ;
    position: fixed;
    background-color:  #05053F;
}

.caixa_da_barra_de_navegacao{
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.caixa_de_logo_raitec{
    height: 100%;
    width: 50%;
}


.imagem_logo_raitec {
    width: 100%;
}

.caixa_de_perfil_membro{
    width: 18%;
    margin-left: 80%;
}

.imagem_de_perfil{
    width: 100%;
    border-style: solid;
    border-color: transparent;
    border-radius: 100%;
}

.imagem_de_perfil:hover{
    border-color: #09CCCC;
}
